{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "^@(.*)/(.*)",
    "^(?!(.?./))",
    "^(../.*)",
    "^(./.*)"
  ],
  "importOrderSeparation": true,
  "importOrderParserPlugins": ["jsx", "typescript", "classProperties"]
}
